
@model List<BusinessLayer.ModelWorkOrders>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.ID</td>
        <td>@item.OrderID</td>
        <td>@item.OrderNumber</td>
        <td>@item.UserMail</td>
    </tr>
    }
</table>

