@model          List<DataAccessLayer.Tbl_Oppurtunity>
     
@{
    ViewBag.Title = "OppurtunityIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OppurtunityIndex</h2>

@foreach (var item in Model)
{
    @item.ID
    @item.OppurtunityCustomerAdress
}